*{
    margin: 0 auto;
    box-sizing: border-box;
}

@font-face{
    font-family: Heavitas;
    src:url("./assets/fonts/Heavitas.ttf")
    
}

@font-face{
    font-family: PixelSplitter-Bold;
    src:url("./assets/fonts/PixelSplitter-Bold.ttf")
}



body {

    width: 100%;
}


header {
width: 100%;
}

.menu {
 height: 50px;
 display: flex;
 font-family: Heavitas;
 flex-direction: row;
 align-items: center;
}

section {
    width: 100%;
}
nav {

    display: flex;
    position: fixed;
    
    width: 100%;
    
    height: inherit;
    background-color: #211e21;
    justify-content: space-between;
    align-items: center;
   
    
}

/*  Header    */

.logo-holder {
    color: white;
    height: inherit;
    display: flex;
    align-items: center;
}

.links {
 display:flex;
 justify-content: space-around;
 height: inherit;
 align-items: center;
 width: 50vh;

}
.links a {
    color:white;
    text-decoration:None;
    font-family: PixelSplitter-Bold;
    font-size: 12px;

    
}

.links a:hover {
 color:#2fa1d1;
 

}

#name-zak {
    display: flex;
    flex-direction: row;
    color: white;
}


#hero {
background-color: #232023 ;
display: flex;
background-image: url(./assets/img/bkg.png);
position: relative;
overflow: hidden;
height: 45vh;

}

#hero-title-container {
color:  white;
display: flex;
background-color: #232023;
flex-direction: column;
width: 25%;
max-width: 100%;
padding: 20px;
position: absolute;
left: 8.5%;
top: 25%;




}
h1{
 font-family: Heavitas;
 font-size: 20px;
}
#description {
 color: white;
 background: #232023;
 display: flex;

}

#description p {
    font-family: PixelSplitter-Bold ;
    font-size: 10px;
}
#title-link a {



}

#title-link a:hover {

}

#hero-mascott-container {
 position: absolute;
 width: 35%;
 right: 0;
top:10%;
 

}

.back-mascott,
.front-mascott{
    width: 100%;
    position: absolute;
    top:0;
    right: 0;
}


#projects {
    background-color: #e5e2e5;
    display: flex;
    flex-direction: column;
    background: rgb(173,171,173);
background: linear-gradient(0deg, rgba(173,171,173,1) 0%, rgba(231,229,231,1) 100%);
}
#projects h2{
  font-family:PixelSplitter-Bold ;
  font-size: 14px;
  margin-top: 3vh;
  font-weight: 200;
}

#project-containers {
    width: 90%;
    margin: 40px 5% 40px 5%;
    display: flex;
    flex-direction: row;
    padding: 5%;
    box-shadow: 0px 0px 39px -3px #9E999E;
}

.project {
   color: #31a2d2;
   max-width: 20%;
   display: flex;
   flex-wrap: wrap ;
   flex-direction: column; 
}


.header-project{
font-family:PixelSplitter-Bold;
font-size: 12px;
padding: 5%;
background-color: transparent;


}
.body-project {
 max-width: 100%;
}
.body-project img{
    object-fit: cover;
    max-width: 100%;

}

.footer-project {
 background-color: white;
 font-family: PixelSplitter-Bold;
 font-size: 10px;
 padding: 5%;
 width: 100%;
 text-align: center;
 color: black;
 margin-top: -0.5vh;
}


#contact {
 background-color: black;
 color: white;
 display: flex;
flex-direction: column;
justify-content: center;
font-family: PixelSplitter-Bold;
font-size: 15px;
width: 100%;
}

  #contact h2 {
    font-family:PixelSplitter-Bold;
    font-size: 16px;
    width: 100%;
    padding:5%;
    text-align: center;
    background-color: black;
    color: white;

 }

 #contact-form {
    width: 30%;
    display: flex;
   
 }

.part-form {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
 

  
}

label {
background-color: black;
flex: 2 ;
text-align: right;
padding-right: 20px;

}

input,
textarea {
 background-color: black;
 color: white;
 flex: 4;
 border: none;

}

button {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
margin-bottom: 20px;
background-color:transparent;
color: #9e9c9e;
font-family: PixelSplitter-Bold;
}

button:hover {
 color: #31a2d2;
}
footer {}