@font-face {
    font-family: Heavitas;
    src: url('./assets/fonts/Heavitas.ttf');
}

@font-face {
    font-family: PixelSplitter-Bold;
    src: url('./assets/fonts/PixelSplitter-Bold.ttf');
}

@media screen and (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 15px;
    }

    .menu {
        padding: 20px 0;
        height: 50px;
    }

    .links {
        width: 100%;
        font-size: 10px;
    }

    #hero {
        height: auto;
    }

    #hero-title-container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 16px;
    }

    #description p {
        font-size: 8px;
    }

    #hero-mascott-container {
        width: 100%;
        top: 30%;
        right: 0;
    }

    #projects {
        flex-direction: column;
    }

    #project-containers {
        padding: 10px;
    }

    .description-project {
        font-size: 12px;
    }

    #cadre {
        padding: 10px;
    }

    #dual-info {
        display: flex;
        flex-direction: column;
    }

    button {
        padding: 8px;
        font-size: 12px;
    }

    footer {
        padding: 20px 0;
    }

    #project-containers {
        display: grid;
        grid-template-columns: auto;
        column-gap: 30px;
        row-gap: 30px;
        margin: 40px 5% 40px 5%;
        padding: 5%;
        box-shadow: 0px 0px 39px -3px #9e999e;
    }

    .links {
        justify-content: space-around;
        height: inherit;
        align-items: center;
        flex-direction: column;
        gap: 18px;
    }

    #toggle-links {
        display: flex;
        flex-direction: row;
    }

    #cadre {
        border: 2px solid white;
        background: black;
        z-index: 5;
    }

    #contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #bandeau {
        position: absolute;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        left: 0;
        top: 46%;
        width: 100%;
        height: 12vh;
        z-index: 4;
    }

    #about-container p {
        font-size: 14px;
    }

    #hero-title-container a {
        margin-top: 10px;
    }

    footer div {
        padding: 10px;
    }

    .navToggled {
        height: 29%;
        padding-bottom: 10%;
    }

    .mainToggled {
        margin-top: 50%;
    }

    .mainNotToggled {
        margin-top: 15%;
    }

    .logoToggled #toggle-links {
        margin-bottom: 3%;
    }


}

@media screen and (min-width: 481px) and (max-width: 728px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .logo-holder {
        margin-bottom: 10px;
    }

    .links {
        flex-direction: column;
        width: auto;
    }

    #hero {
        height: auto;
        flex-direction: column;
    }

    #hero-title-container {
        width: 80%;
        left: 10%;
        top: 10%;
    }

    #hero-mascott-container {
        width: 80%;
        right: 10%;
        top: 20%;
    }

    #projects {
        flex-direction: column;
    }

    #project-containers {
        flex-direction: column;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }

    .description-project {
        font-size: 12px;
    }

    #contact-form {
        width: 80%;
    }

    #cadre {
        flex-direction: column;
    }

    #left-form,
    #right-form {
        width: 100%;
        padding: 0;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    #project-containers {
        display: grid;
        grid-template-columns: auto;
        column-gap: 30px;
        row-gap: 30px;
        margin: 40px 5% 40px 5%;
        padding: 5%;
        box-shadow: 0px 0px 39px -3px #9e999e;
    }

    .links {
        justify-content: space-around;
        height: inherit;
        align-items: center;
    }

    #cadre {
        border: 2px solid white;
        background: black;
        z-index: 5;
    }

    #contact-form {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    #bandeau {
        position: absolute;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        left: 0;
        top: 46%;
        width: 100%;
        height: 12vh;
        z-index: 4;
    }

    #dual-info {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (min-width: 729px) and (max-width: 1023px) {
    nav {
        height: inherit;
        justify-content: space-between;
    }

    .description-project {
        font-size: 16px;
        text-align: center;
        margin: 10px 0;
    }

    #project-containers {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 30px;
        row-gap: 30px;
        margin: 40px 5% 40px 5%;
        padding: 5%;
        box-shadow: 0px 0px 39px -3px #9e999e;
    }

    #toggle-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #cadre {
        border: 2px solid white;
        background: black;
        z-index: 5;
        margin-top: 40%;
        padding: 40px;
        gap: 10px;
    }

    #contact-form {
        /* width: 30%; */
        display: flex;
        flex-direction: column;
    }

    #bandeau {
        position: absolute;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        left: 0;
        width: 100%;
        height: 12vh;
        z-index: 4;
        top: 53%;
    }

    #dual-info {
        display: flex;
        flex-direction: row;
    }

    #hero-title-container {
        width: 30%;
    }

    #hero-title-container a {
        width: 100%;
        padding: 10px;
    }

    #links {
        gap: 20px;
    }

    .menu {
        height: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        height: inherit;
        justify-content: space-between;
    }

    .description-project {
        font-size: 16px;
        text-align: center;
        margin: 10px 0;
    }

    #project-containers {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
        margin: 40px 5% 40px 5%;
        padding: 5%;
        box-shadow: 0px 0px 39px -3px #9e999e;
    }

    #toggle-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #nav-toggle {
        display: none;
    }

    .links {
        justify-content: space-around;
        height: inherit;
        align-items: center;
        width: 50vh;
    }

    #cadre {
        border: 2px solid white;
        background: black;
        z-index: 5;
    }

    #contact-form {
        width: 40%;
        display: flex;
        flex-direction: column;

    }

    #cadre {
        border: 2px solid white;
        background: black;
        z-index: 5;
    }

    #contact-form {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    #bandeau {
        position: absolute;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        left: 0;
        top: 53%;
        width: 100%;
        height: 12vh;
        z-index: 4;
    }

    #dual-info {
        display: flex;
        flex-direction: row;
    }

    #hero-title-container {
        width: 25%;
    }

    #hero-title-container a {
        width: 60%;
        padding: 20px;
    }

    #hero-title-container {
        margin-left: 5%;
    }

    .logo-holder:hover div:nth-child(2) {
        margin-left: 0px;
        margin-top: 0px;
        color: #2fa1d1;
        transform: rotate(0deg);
        transition: 0.5s;
    }

    .menu {
        height: 50px;
    }

    #bandeau {
        top: 53%;
    }

    #cadre {
        padding: 45px;
    }
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
}

header {
    width: 100%;
}

.menu {
    display: flex;
    font-family: Heavitas;
    flex-direction: row;
    align-items: center;
}

section {
    width: 100%;
}

nav {
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #211e21;
    align-items: center;
    border-bottom: 2px solid white;
    z-index: 10;
    top: 0;
    padding: 20px;
}

/*  Header    */

.logo-holder {
    color: white;
    height: inherit;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

.logo div:nth-child(2) {
    margin-left: 3px;
    margin-top: 8px;
    transform: rotate(25deg);
}



.links a {
    color: white;
    text-decoration: none;
    font-family: PixelSplitter-Bold;
    font-size: 12px;
}

.links a:hover {
    color: #2fa1d1;
    transform: scale(1.2);
    transition: 0.5s;
}

#name-zak {
    display: flex;
    flex-direction: row;
    color: white;
}

#hero {
    display: flex;
    position: relative;
    overflow: hidden;
}

#hero-title-container {
    color: white;
    display: flex;
    background-color: #232023;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    float: left;
}

h1 {
    font-family: Heavitas;
    font-size: 20px;
}

#description {
    color: white;
    background: #232023;
    display: flex;
}

#description p {
    font-family: PixelSplitter-Bold;
    font-size: 10px;
}

#hero-mascott-container {
    position: absolute;
    width: 35%;
    right: 0;
    top: 10%;
}

.back-mascott,
.front-mascott {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#projects {
    background-color: #e5e2e5;
    display: flex;
    flex-direction: column;
    background: rgb(173, 171, 173);
    background: linear-gradient(0deg, rgba(173, 171, 173, 1) 0%, rgba(231, 229, 231, 1) 100%);
    align-items: center;
}

#projects h2 {
    font-family: PixelSplitter-Bold;
    font-size: 14px;
    margin-top: 3vh;
    font-weight: 200;
}

#project-containers a {
    width: 100%;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: pixelSplitter-Bold;
    text-decoration: none;
    color: black;
    background-color: #b4afb4;
    box-shadow: 0px 0px 39px -3px #666466;
    padding: 10px 20px;
}

.project:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.header-project {
    font-family: PixelSplitter-Bold;
    font-size: 12px;
    padding: 5%;
    background-color: transparent;
    text-align: center;
    color: black;
}

.body-project {
    width: 100%;
}

.body-project img {
    object-fit: cover;
    width: 100%;
}

.footer-project {
    background-color: white;
    font-family: PixelSplitter-Bold;
    font-size: 10px;
    padding: 5%;
    width: 100%;
    text-align: center;
    color: black;
}

.competences-project {
    margin: 5px 0;
}

.competences-project span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.competences-project span div {
    color: white;
    background-color: black;
    padding: 2px 5px;
    line-height: 20px;
}


#contact {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: PixelSplitter-Bold;
    font-size: 15px;
    width: 100%;
    position: relative;
}

#contact h2 {
    font-family: PixelSplitter-Bold;
    font-size: 16px;
    width: 100%;
    padding: 5%;
    text-align: center;
    background-color: black;
    color: white;
}

#dual-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px 40px 20px;
}

#profile-picture {
    filter: grayscale(100%);
    width: 50%;
    height: auto;
    border-radius: 5px;
}

#profile-picture:hover {
    filter: grayscale(0%);
    transition: 0.5s;
}

#photo {
    display: flex;
    flex-direction: row;
}

#about h2 {
    font-family: PixelSplitter-Bold;
    font-size: 16px;
    width: 100%;
    padding: 2vh 1vh 1vh 1vh;
    text-align: center;
    background-color: black;
    color: white;
}

#about-container {
    color: white;
    font-size: 16px;
    font-family: PixelSplitter-Bold;
    padding: 40px;
}

#about-container p {
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
}

#contact-form button {
    border: none;
    margin-top: 20px;
}

#cadre {
    border: 2px solid white;
    background: black;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#bandeau {
    position: absolute;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    left: 0;
    width: 100%;
    height: 12vh;
    z-index: 4;
}

#left-form {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 20px;
    flex-grow: 2;
}

#right-form {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

label {
    background-color: black;
    text-align: right;
    margin-bottom: 10px;
}

input,
textarea {
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 10px;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 20px;
    background-color: transparent;
    color: #9e9c9e;
    font-family: PixelSplitter-Bold;
}

button:hover {
    color: #31a2d2;
}

footer {
    background-color: black;
    padding: 40px 0;
    color: white;
    font-family: PixelSplitter-Bold;
    text-align: center;
    margin-top: 25vh;
    width: 100%;
    height: 100%;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

#hero-title-container a {
    color: #31a2d2;
    font-family: PixelSplitter-Bold;
}

#hero-title-container a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#banner {
    width: 100%;
    height: auto;
    background-image: url(assets/img/all-banner.png);
    background-position: left;
    padding: 40px;
}

.input-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#label1 {
    text-align: left;
    width: 23%;
}

#label2 {
    text-align: left;
    width: 23%;
}

#label3 {
    text-align: right;
    width: 23%;
}

textarea {
    width: 70%;
}

/* .input-part div:nth-child(1) {
    text-align: right;
}

.input-part div:nth-child(2) {} */